#   Name: Git Ignore
#   Description: Files and directories for git to ignore
#   Authors: Magaly Camacho [3072618]

#   Date Created: 10/26/2024
#   Revisions: 
#       - 10/26/2024 by Magaly Camacho 
#         Git now ignores all test output files but keeps the Output folder

#   Preconditions: Git must be installed and initialized in the repository
#   Postconditions: Anything listed will be ignored by git
#   Errors/Exceptions: None
#   Side Effects: None
#   Invariants: Until removed, anything listed will be ignored by git
#   Known Faults: None

__pycache__/

# ignore all test output files but keep the Output folder
Tests/Output/
!Tests/Output/.gitkeep